<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>


    <category label="1000">
        <!-- Main SECTION -->
        <setting type="lsep" label="1000" />
        <setting id="connected" label="1001" type="bool" enable="false" visible="false" default="false" />
        <setting id="discoverBridge" type="action" label="1210" action="RunScript(script.service.hue,discover)" option = "close" />

        <!-- Grouping -->
        
        <!-- 
        <setting type="lsep" label="1100" />
        <setting id="setup_theater_lights" type="action" enable="!eq(-3,false)" label="1120" action="RunScript(script.kodi.hue.ambilight,action=setup_theater_lights)" />
        <setting id="setup_ambilight_lights" type="action" enable="!eq(-4,false)" label="1130" action="RunScript(script.kodi.hue.ambilight,action=setup_ambilight_lights)" />
        <setting id="setup_static_lights" type="action" enable="!eq(-5,false)" label="1140" action="RunScript(script.kodi.hue.ambilight,action=setup_static_lights)" />
        
         -->
        <!-- Bridge -->
        <setting type="lsep" label="1200" />
        <setting id="bridgeIP" type="text" label="1220" enable="false" default="" />
        <setting id="bridgeUser" type="text" label="1230" enable="false" default="" />

        <setting id="ambilight_group" label="1300" type="text" visible="false" default="" />
        <setting id="theater_group" label="1300" type="text" visible="false" default="" />
        <setting id="theater_subgroup" label="1300" type="text" visible="false" default="" />
        <setting id="static_group" label="1300" type="text" visible="false" default="" />
        <!-- Reset -->
        <setting type="lsep" label="1400" />
       <!--   <setting id="reset_settings" type="action" label="1410" action="RunScript(script.kodi.hue.ambilight,action=reset_settings)" option="close" /> -->
    </category>



<!--  GROUP SECTION -->    
    <category label="6000">
        <!-- Group 0 -->
        <setting type="lsep" label="6000" />
        <setting id="group0_id" type="number"  enable ="false" label="6001" default="0" option="int" /> 
        <setting id="group0_name" type="text" label="6002"  default="Group 0"/>
        <setting id="group0_behavior" type="select" label="6201" lvalues="6202|6203|6204" />

        <setting id="group0_hGroup" type="int" label="6208"  default="4" subsetting="true" range="0,1,20"  />
        <setting id="group0_fadeTime" type="slider" label="6206"  range="0,1,20" default="10" subsetting="true" enable="gt(-1,0)"/>
        <setting id="group0_forceOn" type="bool" label="6207"  default="false" subsetting="true" enable="eq(-2,1)" />
       
        
        <!--  Group playback start setting -->
        <!--   Visible when group behaviour is Adjust -->
        <setting type="lsep" label="6301" visible="eq(-3,1)"/> 
        <setting id="group0_startBehavior" type="select" label="6201" lvalues="6202|6203|6204" visible="eq(-4,1)"/>
             <!-- Visible when group_event_start is Adjust (1) + group_behavior is Adjust (1)  -->
	        <setting id="group0_startHue" type="slider" label="6402"  range="0,1,255" default="0" subsetting="true" visible="eq(-1,1) + eq(-5,1)" /> 
	        <setting id="group0_startSaturation" type="slider" label="6403"  range="0,1,255" default="100" subsetting="true" visible="eq(-2,1) + eq(-6,1)" />
	        <setting id="group0_startBrightness" type="slider" label="6404"  range="0,1,255" default="100" subsetting="true" visible="eq(-3,1)  + eq(-7,1)" />
	        
 	        
        <!--  Group playback pause setting -->
        <!--   Visible when group behaviour is Adjust -->
        <setting type="lsep" label="6302" visible="eq(-8,1)"/>   
        <setting id="group0_pauseBehavior" type="select" label="6201" lvalues="6202|6203|6204|6205" visible="eq(-9,1)" />
	        <!-- Visible when group_event_start is Adjust (1) + group_behavior is Adjust (1)  -->           
	        <setting id="group0_pauseHue" type="slider" label="6402"  range="0,1,255" default="0" subsetting="true" visible="eq(-1,1) + eq(-10,1)" />
	        <setting id="group0_pauseSaturation" type="slider" label="6403"  range="0,1,255" default="100" subsetting="true" visible="eq(-2,1) + eq(-11,1)" />
	        <setting id="group0_pauseBrightness" type="slider" label="6404"  range="0,1,255" default="100" subsetting="true" visible="eq(-3,1) + eq(-12,1)" />


		<!--  Group playback stop setting --> 
		<!--   Visible when group behaviour is Adjust -->
        <setting type="lsep" label="6303" visible="eq(-13,1)"/>
        <setting id="group0_stopBehavior" type="select" label="6201" lvalues="6202|6203|6204|6205" visible="eq(-14,1)"/>
        	<!-- Visible when group_event_start is Adjust (1) + group_behavior is Adjust (1)  -->                  
	        <setting id="group0_stopHue" type="slider" label="6402"  range="0,1,255" default="0" subsetting="true" visible="eq(-1,1) + eq(-15,1)"/>
	        <setting id="group0_stopSaturation" type="slider" label="6403"  range="0,1,255" default="100" subsetting="true" visible="eq(-2,1) + eq(-16,1)"/>
	        <setting id="group0_stopBrightness" type="slider" label="6404"  range="0,1,255" default="100" subsetting="true" visible="eq(-3,1) + eq(-17,1)"/>
    
      
    </category>
    


 






    <category label="2000">
        <!-- Theater -->
        <setting type="lsep" label="2000" />

        <!-- Global -->
        <setting type="lsep" label="2100" />
        <setting id="setup_theater_subgroup" type="action" label="2105" action="RunScript(script.kodi.hue.ambilight,action=setup_theater_subgroup)" />
        <setting id="dim_time" label="2110" type="slider" default="4" range="0,0.5,10" option="float" />
        <setting id="proportional_dim_time" label="2120" type="bool" default="true" />
        <setting id="propritional_explainer" type="lsep" label="2130" visible="eq(-1,true)" subsetting="true" />

        <!-- Playback Start -->
        <setting type="lsep" label="2200" />
        <setting id="theater_start_bri_override" label="2210" type="bool" default="false" />
        <setting id="theater_start_bri" label="2220" visible="eq(-1,true)" type="slider" default="30" range="0,5,254" option="int" />

        <!-- Playback Pause -->
        <setting type="lsep" label="2300" />
        <setting id="theater_pause_dim_subgroup" label="2305" type="bool" default="false" />
        <setting id="theater_pause_bri_override" label="2310" type="bool" default="false" />
        <setting id="theater_pause_bri" label="2320" visible="eq(-1,true)" type="slider" default="150" range="0,5,254" option="int" />

        <!-- Playback Stop -->
        <setting type="lsep" label="2400" />
        <setting id="theater_stop_bri_override" label="2410" type="bool" default="false" />
        <setting id="theater_stop_bri" label="2420" visible="eq(-1,true)" type="slider" default="150" range="0,5,254" option="int" />
    </category>

    <category label="3000">
        <!--Ambilight -->
        <setting type="lsep" label="3000" />

        <!-- Global Settings-->
        <setting type="lsep" label="3100" />
        <setting id="ambilight_min" label="3110" type="slider" default="0" range="0,5,254" option="int" />
        <setting id="ambilight_max" label="3120" type="slider" default="90" range="0,5,254" option="int" />

        <setting id="ambilight_start_dim_enable" label="3130" type="bool" default="true" />

        <!--Thresholds-->
        <setting type="lsep" label="3200" />
        <setting id="ambilight_threshold_value" label="3210" type="slider" default="0.25" range="0,0.01,1" option="float" />
        <setting id="ambilight_threshold_saturation" label="3220" type="slider" default="0.33" range="0,0.01,1" option="float" />

        <!--Color-->
        <setting type="lsep" label="3300" />
        <setting id="color_bias" label="3310" type="slider" default="18" range="6,3,36" option="int" />
        <setting label="3320" type="lsep" subsetting="true" /> <!--Color Bias Explainer-->

        <!-- Playback Start -->
        <setting type="lsep" label="3400" />
        <setting id="ambilight_start_dim_override" label="3420" visible="eq(-8,true)" type="bool" default="false" />
        <setting id="ambilight_start_dim" label="3430" visible="eq(-1,true)" type="slider" default="30" range="0,5,254" option="int" />

        <!-- Playback Pause -->
        <setting type="lsep" label="3500" />
        <setting id="ambilight_pause_bri_override" label="3510" visible="eq(-11,true)"  type="bool" default="false" />
        <setting id="ambilight_pause_bri" label="3520" visible="eq(-1,true)" type="slider" default="150" range="0,5,254" option="int" />

        <!-- Playback Stop -->
        <setting type="lsep" label="3600" />
        <setting id="ambilight_stop_bri_override" label="3610" visible="eq(-14,true)" type="bool" default="false" />
        <setting id="ambilight_stop_bri" label="3620" visible="eq(-1,true)" type="slider" default="150" range="0,5,254" option="int" />
    </category>

    <category label="4000">
        <!-- Theater -->
        <setting type="lsep" label="4000" />

        <!-- Playback Start -->
        <setting type="lsep" label="4100" />
        <setting id="static_start_random" label="4105" type="bool" visible="eq(1,false) + eq(3,false)" default="false" />
        <setting id="static_start_hue_override" label="4110" visible="eq(-1,false)" type="bool" default="false" />
        <setting id="static_start_hue" label="4120" visible="eq(-1,true)" type="slider" default="30" range="0,100,65535" option="int" />
        <setting id="static_start_sat_override" label="4130" visible="eq(-3,false)" type="bool" default="false" />
        <setting id="static_start_sat" label="4140" visible="eq(-1,true)" type="slider" default="30" range="0,5,254" option="int" />
        <setting id="static_start_bri_override" label="4150" type="bool" default="false" />
        <setting id="static_start_bri" label="4160" visible="eq(-1,true)" type="slider" default="100" range="0,5,254" option="int" />
    </category>
    


    <category label="5000">
        <!--Advanced SECTION-->
        <setting type="lsep" label="5000" />
        <!--Miscellaneous-->
        <setting type="lsep" label="5100" />
        <setting id="initialFlash" type="bool" label="5110" default="true" />
        <setting id="misc_disableshort" type="bool" label="5120" default="false" />
        <setting id="misc_disableshort_threshold" type="number" label="5130" default="120" enable="eq(-1,true)" />
        <setting id="force_light_on" type="bool" label="5140" default="false" />
    </category>
</settings>
