name: Addon Checker

on: [push, pull_request]

jobs:
  kodi-addon-checker:
    runs-on: ubuntu-latest
    name: Kodi addon checker
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Kodi addon checker validation
      id: kodi-addon-checker
      uses: xbmc/action-kodi-addon-checker@v1.2
      with:
        kodi-version: matrix
        addon-id: ${{ github.event.repository.name }}
    -  name: 'Qodana Scan'
       uses: JetBrains/qodana-action@main
       env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}