name: Release version

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release addon
    if: github.repository == 'zim514/script.service.hue'

    steps:

      - name: Checkout addon
        uses: actions/checkout@v4
        with:
          path: 'addon'

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          path: 'repo'
          repository: 'zim514/zim514.github.io'
          token: ${{secrets.ACTIONHOSTEDREPO}}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install kodi-addon-checker gitpython

      - name: Kodi addon checker validation
        id: kodi-addon-check
        run: kodi-addon-checker --branch=matrix ./addon/script.service.hue


      - name: Clean & Generate repo
        run: |
          git --git-dir=./repo/.git/ --work-tree=./repo/ rm -rf --ignore-unmatch *.md5 *.zip
          echo "pwd: $(pwd)"
          ./repo/create_repository.py --datadir=repo/docs/repo ./addon/script.service.hue ./repo/repository.snapcase

      - name: Output debug
        shell: bash
        run: |
          echo "****************************************"
          find . -name .git -prune -o -print

      - name : Find addon zip
        id: zip_filename
        run: |
          file=$(find . -type f -name "script.service.hue-*.zip")
          echo "File: $file"
          echo "::set-output name=zip_filename::$file"

      - name: Create Github Release
        id: create_release
        uses: ncipollo/release-action@v1.13.0
        with:
          allowUpdates: true
          artifacts: "${{ steps.zip_filename.outputs.zip_filename }}"
          artifactContentType: application/zip

      - name: Update hosted repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automated repo update ${{  github.ref_name }}
          repository: ./repo
          add_options: '--all'


  rollbar:
    name: Notify deploy to Rollbar
    if: github.repository == 'zim514/script.service.hue'
    runs-on: ubuntu-latest
    needs: [ release ]

    steps:
      - name: Notify deploy to Rollbar
        uses: rollbar/github-deploy-action@2.1.2
        id: rollbar_deploy
        with:
          environment: 'production'
          version: ${{  github.ref_name }}
        env:
          ROLLBAR_ACCESS_TOKEN: ${{ secrets.ROLLBAR_ACCESS_TOKEN }}
          ROLLBAR_USERNAME: ${{ github.actor }}
